nodered/data/flows/piggy1.json
[
    {
        "id": "92226df4e340c706",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1f752edbc608e54",
        "type": "ui_dropdown",
        "z": "92226df4e340c706",
        "name": "Пандус",
        "label": "",
        "tooltip": "",
        "place": "Любой пандус",
        "group": "b5ccc75c0e8c4463",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Любой пандус",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Пандус 1",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Пандус 2",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6c19f7b2304b37bb",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 18,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Сформировать",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "79d010a509c919f5"
            ]
        ]
    },
    {
        "id": "df5edebe547fe266",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Выберите номер пандуса",
        "order": 4,
        "width": 5,
        "height": 1,
        "format": " <div style=\"font-size: 15px; text-align: center; padding-top: 15px\"> Выберите номер пандуса </div> <!--text-align: center; padding-top: 10px;-->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ed2fc2264a23ba80",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Принятые машины",
        "order": 3,
        "width": 6,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \"> Принятые машины\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "affab3a47a11bc6a",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "RightLine",
        "order": 2,
        "width": 1,
        "height": 17,
        "format": "<table id=\"table1\" height=\"100%\" style=\"border-left: 1px solid;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \">\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "11c335f9b3db6c0c",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Подсчет заголовок",
        "order": 1,
        "width": 23,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"border-bottom: 1px solid;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\"\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e1d8664a2ff8a723",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Выберите период отчета",
        "order": 7,
        "width": 4,
        "height": 1,
        "format": "<div style=\"font-size: 15px; text-align: center; padding-top: 15px\"> Выберите период отчета </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5887c6b6d6b2b658",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "spacer3",
        "order": 6,
        "width": 1,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0eb6574948aeea61",
        "type": "fs-list",
        "z": "92226df4e340c706",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "pattern": "*",
        "patternType": "str",
        "filter": "all",
        "recursive": false,
        "follow": true,
        "property": "payload",
        "propertyType": "msg",
        "x": 1020,
        "y": 640,
        "wires": [
            [
                "5a97f5f938015f64",
                "be30497b1fa9bca4"
            ]
        ]
    },
    {
        "id": "6e534272610f41c9",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 71",
        "func": "msg.payload = '/data/static/Reports'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 640,
        "wires": [
            [
                "0eb6574948aeea61"
            ]
        ]
    },
    {
        "id": "69bb46803e2ac180",
        "type": "debug",
        "z": "92226df4e340c706",
        "name": "debug 392",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "list",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 660,
        "wires": []
    },
    {
        "id": "af8f71bd43d513c2",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "",
        "label": "C",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 830,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "237362f3198ff57d",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "",
        "label": "По",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 950,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9adae1fc11aa6820",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "1",
        "label": "",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5466924f5a0112f0",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Количество разгруженных машин",
        "order": 11,
        "width": 6,
        "height": 1,
        "format": "<div style=\"font-size: 15px; text-align: center; padding-top: 15px\"> Количество разгруженных машин </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4b5e0bbd831dad77",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Количество принятых животных",
        "order": 13,
        "width": 5,
        "height": 1,
        "format": "<div style=\"font-size: 15px; text-align: center; padding-top: 15px\"> Количество принятых животных </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6bdeb12d13101449",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "2",
        "label": "",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1b2a06113fa447af",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "В том числе санитарный брак",
        "order": 15,
        "width": 6,
        "height": 1,
        "format": "<div style=\"font-size: 15px; text-align: center; padding-top: 15px\"> В том числе санитарный брак </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1070,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4914c72193142058",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "3",
        "label": "",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 1270,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9a6240f0a373cc7e",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 25,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Выгрузить в Excel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ed8ec862ccce0a59",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "ReportTable",
        "order": 21,
        "width": 23,
        "height": 5,
        "format": "<style>\n    th, td{      \n        font-size: 14px;\n        heigth: 48px;\n        font-weight: normal;\n    }\n</style>\n\n<table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n    <tr style=\"border: 1px solid black; border-collapse: collapse;\">\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">А/М Номер разгрузки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Фото госномера прицепа а/м</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Место разгрузки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Дата/время начала приемки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Дата/время окончания приемки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Количество принятых животных</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">В том числе санитарный брак</th>\n    </tr>\n    <tbody style=\"\">\n        <tr ng-repeat=\"row in msg.payload\" style=\"height:48px; border: 1px solid black; border-collapse: collapse;\">\n            <td ng-repeat=\"item in row\" style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px;\">{{item}}</td>\n        </tr>\n    </tbody>\n    <tr>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее время разгрузки</th>\n        <th style=\"#d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\"> </th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\">0 д 1 ч 15 м</th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\"> </th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее количество</th>\n        <th style=\"1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">110</th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">5</th>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 330,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "79d010a509c919f5",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 72",
        "func": "var arr =[\n    [\"№1 7306 АМ13\",\"1\",\"Пандус 1\",\"22.10.24 10:05\",\"22.10.24 10:42\",\"50\",\"2\"],\n    [\"№1 7306 АМ13\", \"1\", \"Пандус 2\", \"22.10.24 12:15\", \"22.10.24 12:53\", \"60\", \"3\"]\n    ]\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ed8ec862ccce0a59"
            ]
        ]
    },
    {
        "id": "e5a7a1ab86452ded",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Пояснение",
        "order": 27,
        "width": 23,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"border-bottom: 1px solid;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 12px; text-align: left;  \"> *К отчету принимаются только цельные разгрузки.\n            </th>\n        </tr>\n        <tr>\n            <th style=\"font-size: 12px; text-align: left;  \"> В случае наложения времени начала, либо окончания на середину разгрузки машина к отчету не принимается\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "bf0c56cf80db4e24",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Быстрый просмотр",
        "order": 28,
        "width": 23,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \"> Быстрый просмотр информации по выбранной разгрузке\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "97fb2cfaf0320959",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "FastReportTable",
        "order": 29,
        "width": 23,
        "height": 5,
        "format": "<style>\n    th, td{      \n        font-size: 14px;\n        heigth: 48px;\n        font-weight: normal;\n    }\n</style>\n\n<table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n    <tr style=\"border: 1px solid black; border-collapse: collapse;\">\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">А/М Номер разгрузки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Фото госномера прицепа а/м</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Место разгрузки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Дата/время начала приемки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Дата/время окончания приемки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Количество принятых животных</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">В том числе санитарный брак</th>\n    </tr>\n    <tbody>\n        <tr style=\"height:48px; border: 1px solid black; border-collapse: collapse;\">\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">№1 7306 АМ13</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">1</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">Пандус 1</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">22.10.24 10:05</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">22.10.24 10:42</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px;\">50</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">2</td>\n        </tr>\n    </tbody>\n    <tr>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее время разгрузки</th>\n        <th style=\"#d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\"> </th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\">0 д 0 ч 37 м</th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\"> </th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее количество</th>\n        <th style=\"1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">50</th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">2</th>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5ba6ae3e661d7288",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Все",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "6e534272610f41c9"
            ]
        ]
    },
    {
        "id": "c7c259f0e36c030e",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 17,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "С начала года",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a573b8e43790933c",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 20,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Предыдущий месяц",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1220,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "500a0fc02e26bf38",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "С начала месяца",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "320274caa19b99fb",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "С начала недели",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fd7926ee2b655e5f",
        "type": "fs-mkdir",
        "z": "92226df4e340c706",
        "name": "",
        "purpose": "reg",
        "path": "/data/static/",
        "pathType": "str",
        "foldername": "payload",
        "foldernameType": "msg",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 570,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8c226e7f9d8e3520",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 73",
        "func": "msg.payload = \"Reports\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 620,
        "wires": [
            [
                "fd7926ee2b655e5f"
            ]
        ]
    },
    {
        "id": "5a97f5f938015f64",
        "type": "ui_list",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "",
        "order": 31,
        "width": 6,
        "height": 2,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1210,
        "y": 500,
        "wires": []
    },
    {
        "id": "be30497b1fa9bca4",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "List",
        "order": 24,
        "width": 6,
        "height": 11,
        "format": "<style>\n    th,\n    td {\n        font-size: 14px;\n        heigth: 48px;\n        font-weight: normal;\n    }\n</style>\n\n<table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n\n    <tbody style=\"\">\n        <tr ng-repeat=\"row in msg.payload\" style=\"height:36px;\"> \n            <td>{{row}}</td>\n        </tr>\n    </tbody>\n\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1190,
        "y": 560,
        "wires": [
            [
                "69bb46803e2ac180"
            ]
        ]
    },
    {
        "id": "e462ee7145bfd17a",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 19,
        "width": 19,
        "height": 1
    },
    {
        "id": "b9282f5622a56ba1",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 26,
        "width": 19,
        "height": 1
    },
    {
        "id": "eafea6af6a199675",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 30,
        "width": 24,
        "height": 1
    },
    {
        "id": "f62f80a881eda58c",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 32,
        "width": 24,
        "height": 1
    },
    {
        "id": "b5ccc75c0e8c4463",
        "type": "ui_group",
        "name": "Отчет",
        "tab": "894abbe699040ef2",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "894abbe699040ef2",
        "type": "ui_tab",
        "name": "Отчет",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]