nodered/data/flows/piggy.json
[
    {
        "id": "92226df4e340c706",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cebe0263a986f9c3",
        "type": "tab",
        "label": "Поток 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5ccc75c0e8c4463",
        "type": "ui_group",
        "name": "Отчет",
        "tab": "894abbe699040ef2",
        "order": 1,
        "disp": false,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "894abbe699040ef2",
        "type": "ui_tab",
        "name": "Отчет",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c4b3f9d286db509",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#6791a2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#8ca3d9",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#62749d",
                    "value": "#8ca3d9",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8ca3d9",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#e6e6e6",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#c6d1ec",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#e6e6e6",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#6b8ad1",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#e6e6e6",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "22c802fe2e9fb766",
        "type": "ui_tab",
        "name": "Cameras",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b609199da19ad8a0",
        "type": "ui_group",
        "name": "Cameras",
        "tab": "22c802fe2e9fb766",
        "order": 1,
        "disp": false,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "184e08d38ff3c438",
        "type": "postgresdb",
        "cfgname": "",
        "hostname": "172.26.0.4",
        "port": "5432",
        "db": "postgres_db",
        "ssl": false
    },
    {
        "id": "6b0dc530bd054917",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "e27905450c17859f",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "1dbb3eedc8717272",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "ba822299f8ccc896",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "a10fc7899a27d1e7",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "4ab8c14f44abe295",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "4c127429d4334c93",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "f8612cb5a8622110",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "79223c5fa234c15d",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "c833c1cb07e2883a",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "a918b283cd97f6b9",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "1f0be13e8d911601",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "6f96a2d9f25d18b7",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "70c64087cb8b6292",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "aa639e70e83a160a",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "871a7899d51d5f16",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 27,
        "width": 21,
        "height": 1
    },
    {
        "id": "49ed12e5595c4b43",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "f96ec2dfd92b797c",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "3813b5aed7b2681e",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 32,
        "width": 12,
        "height": 1
    },
    {
        "id": "76939de0d7242384",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 33,
        "width": 12,
        "height": 1
    },
    {
        "id": "6b001c96b902bd38",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 34,
        "width": 12,
        "height": 1
    },
    {
        "id": "da0f499b8c0e0ced",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 35,
        "width": 12,
        "height": 1
    },
    {
        "id": "965188cbe42789bb",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 36,
        "width": 12,
        "height": 1
    },
    {
        "id": "a459076aa398cb70",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 37,
        "width": 12,
        "height": 1
    },
    {
        "id": "846800da33c91db3",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 38,
        "width": 12,
        "height": 1
    },
    {
        "id": "f1f24ab89db47f7c",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 39,
        "width": 12,
        "height": 1
    },
    {
        "id": "c3be653ce2d9b6af",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 40,
        "width": 12,
        "height": 1
    },
    {
        "id": "84a1be37791713f4",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 41,
        "width": 12,
        "height": 1
    },
    {
        "id": "4ccce11a5ff52108",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 42,
        "width": 12,
        "height": 1
    },
    {
        "id": "4ddcbc1dcdc2119a",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 43,
        "width": 12,
        "height": 1
    },
    {
        "id": "c7721acb22b65755",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 44,
        "width": 12,
        "height": 1
    },
    {
        "id": "354836843dac02e3",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 45,
        "width": 12,
        "height": 1
    },
    {
        "id": "2a50f05e74f2461f",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 46,
        "width": 12,
        "height": 1
    },
    {
        "id": "927c00b9964419fb",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 47,
        "width": 12,
        "height": 1
    },
    {
        "id": "98e564d9a2504224",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 48,
        "width": 12,
        "height": 1
    },
    {
        "id": "ba745963805c873b",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 49,
        "width": 12,
        "height": 1
    },
    {
        "id": "6f9db1e180c49e13",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 50,
        "width": 12,
        "height": 1
    },
    {
        "id": "17949327fe1ef97f",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 51,
        "width": 12,
        "height": 1
    },
    {
        "id": "273e2a383f0cae37",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 52,
        "width": 12,
        "height": 1
    },
    {
        "id": "e4777bade9aa95a4",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 53,
        "width": 10,
        "height": 1
    },
    {
        "id": "61076bcaed5ad584",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 55,
        "width": 12,
        "height": 1
    },
    {
        "id": "5dbc07da71b825c6",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 56,
        "width": 10,
        "height": 1
    },
    {
        "id": "2273e88713c8875d",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 57,
        "width": 12,
        "height": 1
    },
    {
        "id": "9026bddc40970e11",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 58,
        "width": 10,
        "height": 1
    },
    {
        "id": "51f785436bb89d22",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 59,
        "width": 12,
        "height": 1
    },
    {
        "id": "d31f3a88104ce3f5",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 60,
        "width": 10,
        "height": 1
    },
    {
        "id": "760433b832260618",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 61,
        "width": 12,
        "height": 1
    },
    {
        "id": "5a2a36fdb23c175e",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 62,
        "width": 10,
        "height": 1
    },
    {
        "id": "a1d03e0a37c190b2",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 63,
        "width": 12,
        "height": 1
    },
    {
        "id": "2566e685f5055446",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 64,
        "width": 10,
        "height": 1
    },
    {
        "id": "65c8aca3f35416e3",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 65,
        "width": 12,
        "height": 1
    },
    {
        "id": "ec015e97a39cdebf",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 66,
        "width": 10,
        "height": 1
    },
    {
        "id": "c923586908b15a8f",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 67,
        "width": 12,
        "height": 1
    },
    {
        "id": "432a8171491ed99c",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 68,
        "width": 10,
        "height": 1
    },
    {
        "id": "57f58baade0a736a",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 69,
        "width": 12,
        "height": 1
    },
    {
        "id": "73ea6f4cb90cf143",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 70,
        "width": 10,
        "height": 1
    },
    {
        "id": "2aa33fcfdac95e38",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 71,
        "width": 12,
        "height": 1
    },
    {
        "id": "95293cf0f68fdb88",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 72,
        "width": 10,
        "height": 1
    },
    {
        "id": "712f59c694740231",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 73,
        "width": 12,
        "height": 1
    },
    {
        "id": "426238a10e421cec",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 74,
        "width": 12,
        "height": 1
    },
    {
        "id": "561747ddd307159a",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 75,
        "width": 12,
        "height": 1
    },
    {
        "id": "01f1852b1b34f551",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 76,
        "width": 26,
        "height": 1
    },
    {
        "id": "f36ef59fa84b1eca",
        "type": "ui_spacer",
        "z": "cebe0263a986f9c3",
        "name": "spacer",
        "group": "b609199da19ad8a0",
        "order": 77,
        "width": 26,
        "height": 1
    },
    {
        "id": "5661d82c549dd875",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7ba87fcc76429a7",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 9,
        "width": 23,
        "height": 1
    },
    {
        "id": "2c936934bcdc7851",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 10,
        "width": 23,
        "height": 1
    },
    {
        "id": "b7901365d9ebb008",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 11,
        "width": 23,
        "height": 1
    },
    {
        "id": "484c4c00f850b6dc",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 12,
        "width": 23,
        "height": 1
    },
    {
        "id": "fe1c2592e91c6cf3",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 13,
        "width": 23,
        "height": 1
    },
    {
        "id": "00df0a4d12fae8a4",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 14,
        "width": 23,
        "height": 1
    },
    {
        "id": "271f55ec4237fdec",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 15,
        "width": 23,
        "height": 1
    },
    {
        "id": "2875bba55f85604e",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 16,
        "width": 23,
        "height": 1
    },
    {
        "id": "f9503b9fc36174b5",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 17,
        "width": 23,
        "height": 1
    },
    {
        "id": "3d87ffd100206ec7",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 19,
        "width": 23,
        "height": 1
    },
    {
        "id": "4a6341e40696428a",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 22,
        "width": 23,
        "height": 1
    },
    {
        "id": "b0930e2568086849",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "9c86238dd0d0bfc7",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 26,
        "width": 4,
        "height": 1
    },
    {
        "id": "a5a7eaaee4579ac2",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 27,
        "width": 7,
        "height": 1
    },
    {
        "id": "99d11976314757bf",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "b206097823a98812",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 29,
        "width": 7,
        "height": 1
    },
    {
        "id": "6830be0d34e4b86d",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 31,
        "width": 7,
        "height": 1
    },
    {
        "id": "c99402abe0249261",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 32,
        "width": 10,
        "height": 1
    },
    {
        "id": "d2eba837cc02188a",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 33,
        "width": 7,
        "height": 1
    },
    {
        "id": "562db63d108df465",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 34,
        "width": 10,
        "height": 1
    },
    {
        "id": "c06c2b608af529e2",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 35,
        "width": 7,
        "height": 1
    },
    {
        "id": "307666204a40c40a",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 36,
        "width": 10,
        "height": 1
    },
    {
        "id": "cb9dc5ea204af050",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 37,
        "width": 7,
        "height": 1
    },
    {
        "id": "9e35e19e1a887174",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 38,
        "width": 10,
        "height": 1
    },
    {
        "id": "e30edac52db51a75",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 39,
        "width": 7,
        "height": 1
    },
    {
        "id": "d8cd4077b4915f01",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 40,
        "width": 10,
        "height": 1
    },
    {
        "id": "e09e4b242f3dfac8",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 41,
        "width": 7,
        "height": 1
    },
    {
        "id": "ed7d46e8c89da936",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 42,
        "width": 10,
        "height": 1
    },
    {
        "id": "6ea8c39f4f8f2ba0",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 43,
        "width": 7,
        "height": 1
    },
    {
        "id": "99319b52da696a3e",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 44,
        "width": 10,
        "height": 1
    },
    {
        "id": "99153b5acd9fcc56",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 45,
        "width": 7,
        "height": 1
    },
    {
        "id": "db94161a6865fda2",
        "type": "ui_spacer",
        "z": "92226df4e340c706",
        "name": "spacer",
        "group": "b5ccc75c0e8c4463",
        "order": 46,
        "width": 10,
        "height": 1
    },
    {
        "id": "6c19f7b2304b37bb",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Сформировать",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "f55fb693d7c16adb"
            ]
        ]
    },
    {
        "id": "11c335f9b3db6c0c",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Подсчет заголовок",
        "order": 1,
        "width": 23,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"border-bottom: 1px solid;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\"\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0eb6574948aeea61",
        "type": "fs-list",
        "z": "92226df4e340c706",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "pattern": "*",
        "patternType": "str",
        "filter": "all",
        "recursive": false,
        "follow": true,
        "property": "payload",
        "propertyType": "msg",
        "x": 1020,
        "y": 640,
        "wires": [
            [
                "be30497b1fa9bca4",
                "5a97f5f938015f64"
            ]
        ]
    },
    {
        "id": "6e534272610f41c9",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 71",
        "func": "msg.payload = '/data/static/Reports'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 640,
        "wires": [
            [
                "0eb6574948aeea61"
            ]
        ]
    },
    {
        "id": "69bb46803e2ac180",
        "type": "debug",
        "z": "92226df4e340c706",
        "name": "debug 392",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "af8f71bd43d513c2",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "",
        "label": "C",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "cd448ce96f9f5935"
            ]
        ]
    },
    {
        "id": "237362f3198ff57d",
        "type": "ui_text_input",
        "z": "92226df4e340c706",
        "name": "",
        "label": "По",
        "tooltip": "",
        "group": "b5ccc75c0e8c4463",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1070,
        "y": 80,
        "wires": [
            [
                "3b8574b55e09ca6c"
            ]
        ]
    },
    {
        "id": "ed8ec862ccce0a59",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "ReportTable",
        "order": 8,
        "width": 23,
        "height": 10,
        "format": "\n<style>\n    #table2, #table2 td{\n        height: 48px;\n        font-size: 16px;\n        padding-left: 10px;\n        border: 1px solid black;\n        border-collapse: collapse;\n    }\n    .scroll-table-body {\n        height: 400px; \n        overflow-x: auto;\n        overflow-y: auto;\n        table-layout: fixed;\n        /* margin-top: 0px;\n        margin-bottom: 20px;\n        border-bottom: 1px solid #eee; --> */\n    }\n    ::-webkit-scrollbar {\n        display: yes;\n        /* width: 11px; */\n    }\n    ::-webkit-scrollbar-track {\n        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);\n    }\n    ::-webkit-scrollbar-thumb {\n        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);\n    }\n    .scroll-table-head table {\n        width:100%;\n        table-layout: fixed;\n        border: none;\n    }\n    .scroll-table thead th {\n        font-weight: bold;  \n        text-align: left;\n        border: none;\n        padding: 10px 15px;\n        background: #d8d8d8;\n        font-size: 14px;\n        border-left: 1px solid #ddd;\n        border-right: 1px solid #ddd;\n    }\n    .scroll-table tbody td {\n        width:101%;\n        text-align: left;\n        border-left: 1px solid #ddd;\n        border-right: 1px solid #ddd;\n        padding: 10px 15px;\n        font-size: 14px;\n        vertical-align: top;\n        \n    }\n    th, td{      \n        font-size: 14px;\n        heigth: 48px;\n        /* width: 170px; */\n        font-weight: normal;\n    }\n</style>\n\n<div class=\"scroll-table-head\">\n    <table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n        <thead>\n            <tr style=\"border: 1px solid black; border-collapse: collapse;\">\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">А/М\n                    Номер разгрузки</th>\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">\n                    Фото госномера прицепа а/м</th>\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">\n                    Место разгрузки</th>\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">\n                    Дата/время начала приемки</th>\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">\n                    Дата/время окончания приемки</th>\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">\n                    Количество принятых животных</th>\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px; width: 170px;\">\n                    Cанитарный брак</th>\n            </tr>\n        </thead>\n    </table>\n    <div class=\"scroll-table-body\"> \n        <table id=\"table2\" style=\"border: 1px solid black; border-collapse: collapse;\">\n            <!-- <tbody style=\"\">\n                <tr ng-repeat=\"row in msg.payload[0]\" style=\"height:48px; border: 1px solid black; border-collapse: collapse;\">\n                    <td ng-repeat=\"item in row\" style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px;\">{{item}}</td>\n                </tr>\n            </tbody> -->\n            <!-- <tbody>\n                <tr ng-repeat=\"row in msg.payload\" style=\"height:48px; border: 3px solid gray; border-collapse: collapse;\">\n                    <td ng-repeat=\"item in row\" style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px;\">\n                        {{item}}</td>\n                </tr>\n            </tbody> -->\n            <tbody></tbody>\n        </table>\n        <script>\n            (function(scope) {\n                scope.$watch('msg.payload[0]', function(newVal){\n                    if (newVal && Array.isArray(newVal)) {\n                        createTableFromArray(newVal);\n                    }\n                });\n                function createTableFromArray(data) {\n                    const tableBody = document.getElementById(\"table2\").getElementsByTagName('tbody')[0];\n                    \n                    // Очищаем таблицу перед добавлением новых данных (если нужно)\n                    tableBody.innerHTML = \"\";\n                    \n                    // Проходим по каждому элементу массива и создаем строки таблицы\n                    data.forEach(item => {\n                        const newRow = tableBody.insertRow();\n                        \n                        const cell1 = newRow.insertCell(0);\n                        const cell2 = newRow.insertCell(1);\n                        const cell3 = newRow.insertCell(2);\n                        const cell4 = newRow.insertCell(3);\n                        const cell5 = newRow.insertCell(4);\n                        const cell6 = newRow.insertCell(5);\n                        const cell7 = newRow.insertCell(6);\n                        \n                        cell1.textContent = item.event_id;\n                        cell2.textContent = item.platenumber;\n                        cell3.textContent = item.place;\n                        cell4.textContent = item.start_time;\n                        cell5.textContent = item.end_time;\n                        cell6.textContent = item.pigs_quantity;\n                        cell7.textContent = item.pigs_defect;\n                    });\n                }\n            })(scope);\n        \n        \n            // Функция для создания таблицы из массива данных\n            // function createTableFromArray(data) {\n            //     const tableBody = document.getElementById(\"dynamicTable\").getElementsByTagName('tbody')[0];\n        \n            //     // Очищаем таблицу перед добавлением новых данных (если нужно)\n            //     tableBody.innerHTML = \"\";\n        \n            //     // Проходим по каждому элементу массива и создаем строки таблицы\n            //     data.forEach(item => {\n            //         const newRow = tableBody.insertRow();\n        \n            //         const cell1 = newRow.insertCell(0);\n            //         const cell2 = newRow.insertCell(1);\n            //         const cell3 = newRow.insertCell(2);\n            //         const cell4 = newRow.insertCell(3);\n            //         const cell5 = newRow.insertCell(4);\n            //         const cell6 = newRow.insertCell(5);\n            //         const cell7 = newRow.insertCell(6);\n        \n            //         cell1.textContent = item.event_id;\n            //         cell2.textContent = item.platenumber;\n            //         cell3.textContent = item.place;\n            //         cell4.textContent = item.start_time;\n            //         cell5.textContent = item.end_time;\n            //         cell6.textContent = item.pigs_quantity;\n            //         cell7.textContent = item.pigs_defect;\n            //     });\n            // }\n        \n            // // Вызываем функцию для создания таблицы\n            // createTableFromArray({{msg.payload[0]}});\n        </script>\n    </div>\n    <div class=\"scroll-table-head\">\n        <table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n            <tr>\n                \n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее время\n                    разгрузки</th>\n                <!-- <th style=\"#d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\"> </th> -->\n                <th colspan=\"3\" style=\"border: 1px solid black; border-collapse: collapse; height:48px; width: 520px;\">{{msg.payload[1].correctDiffTime}}</th>\n                <!-- <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\"> </th> -->\n                <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее\n                    количество</th>\n                <th style=\"1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">{{msg.payload[1].sumPigsQuantity}}</th>\n                <th style=\"border: 1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">{{msg.payload[1].sumPigsDefect}}\n                </th>\n            </tr>\n        </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "79d010a509c919f5",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 72",
        "func": "// msg.payload = new Date(Date.now()).toLocaleString('ru-RU', { timeZone: 'UTC' })\nmsg.payload = new Date(Date.now()).toDateString()\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 60,
        "wires": [
            [
                "af8f71bd43d513c2",
                "237362f3198ff57d"
            ]
        ]
    },
    {
        "id": "e5a7a1ab86452ded",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "d": true,
        "group": "b5ccc75c0e8c4463",
        "name": "Пояснение",
        "order": 18,
        "width": 23,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"border-bottom: 1px solid;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 12px; text-align: left;  \"> *К отчету принимаются только цельные разгрузки.\n            </th>\n        </tr>\n        <tr>\n            <th style=\"font-size: 12px; text-align: left;  \"> В случае наложения времени начала, либо окончания на середину разгрузки машина к отчету не принимается\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "bf0c56cf80db4e24",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "d": true,
        "group": "b5ccc75c0e8c4463",
        "name": "Быстрый просмотр",
        "order": 20,
        "width": 23,
        "height": 1,
        "format": "<table id=\"table1\" height=\"100%\" style=\"\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \"> Быстрый просмотр информации по выбранной разгрузке\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "97fb2cfaf0320959",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "d": true,
        "group": "b5ccc75c0e8c4463",
        "name": "FastReportTable",
        "order": 21,
        "width": 23,
        "height": 5,
        "format": "<style>\n    th, td{      \n        font-size: 14px;\n        heigth: 48px;\n        font-weight: normal;\n    }\n</style>\n\n<table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n    <tr style=\"border: 1px solid black; border-collapse: collapse;\">\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">А/М Номер разгрузки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Фото госномера прицепа а/м</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Место разгрузки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Дата/время начала приемки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Дата/время окончания приемки</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Количество принятых животных</th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">В том числе санитарный брак</th>\n    </tr>\n    <tbody>\n        <tr style=\"height:48px; border: 1px solid black; border-collapse: collapse;\">\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">№1 7306 АМ13</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">1</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">Пандус 1</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">22.10.24 10:05</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">22.10.24 10:42</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px;\">50</td>\n            <td style=\"border: 1px solid black; border-collapse: collapse; padding-left: 10px; \">2</td>\n        </tr>\n    </tbody>\n    <tr>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее время разгрузки</th>\n        <th style=\"#d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\"> </th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\">0 д 0 ч 37 м</th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; height:48px;\"> </th>\n        <th style=\"background-color: #d3d3d3; border: 1px solid black; border-collapse: collapse; height:48px;\">Общее количество</th>\n        <th style=\"1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">50</th>\n        <th style=\"border: 1px solid black; border-collapse: collapse; text-align: left; padding-left: 10px; height:48px;\">2</th>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fd7926ee2b655e5f",
        "type": "fs-mkdir",
        "z": "92226df4e340c706",
        "name": "",
        "purpose": "reg",
        "path": "/data/static/",
        "pathType": "str",
        "foldername": "payload",
        "foldernameType": "msg",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 570,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8c226e7f9d8e3520",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 73",
        "func": "msg.payload = \"Reports\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 680,
        "wires": [
            [
                "fd7926ee2b655e5f"
            ]
        ]
    },
    {
        "id": "52a3e8cdc35b54f1",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 82",
        "func": "var data = msg.payload\n\nvar event_id = [];\nvar start_time = [];\nvar end_time = [];\nvar pigs_quantity = [];\nvar pigs_defect = [];\nvar platenumber = [];\nvar place = [];\n\nfunction addHours(hours, date = new Date()) {\n    if (typeof hours !== 'number') {\n        throw new Error('Invalid \"hours\" argument')\n    }\n    if (!(date instanceof Date)) {\n        throw new Error('Invalid \"date\" argument')\n    }\n    date.setHours(date.getHours() + hours)\n    return date\n}\n\n\n\nvar lgth_data = data.length\nfor(var i = 0; i < lgth_data;i++){\n    event_id.push(data[i]['event_id']);\n    start_time.push(new Date(addHours(3, data[i]['start_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));\n    end_time.push(new Date(addHours(3, data[i]['end_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));\n    pigs_quantity.push(data[i]['pigs_quantity']);\n    pigs_defect.push(data[i]['pigs_defect']);\n    platenumber.push(data[i]['platenumber']);\n    place.push(data[i]['place']);   \n}\n\n\nconst sumPigsQuantity = pigs_quantity.reduce((acc, num) => acc + num, 0);\nconst sumPigsDefect = pigs_defect.reduce((acc, num) => acc + num, 0);\nvar diffTime = 0\nfor (var i = 0; i < lgth_data; i++) {\n    let tempArr = []\n    var endTimeVal = new Date(addHours(3, data[i]['end_time']))\n    var startTimeVal = new Date(addHours(3, data[i]['start_time']))\n    diffTime += ((endTimeVal.valueOf() - startTimeVal.valueOf())/1000); \n}\n\n\nvar getCorrectTime = (value) => (String(Math.trunc((value / 3600)) % 24)) + \"ч \" + String(Math.floor((value / 60) % 60)) + \"м \" + String(value % 60) + \"с\";\nvar correctDiffTime = getCorrectTime(diffTime);\n// var k = new Date(end_time[0] - start_time[0])\n\nvar table1_data = []\nfor(var i = 0; i < lgth_data;i++){\n    \n    // for (var j = 0; j < 1; j++) {\n        // tab.push(event_id[i].toString(), platenumber[i].toString(), place[i].toString(), start_time[i].toString(), end_time[i].toString(), pigs_quantity[i].toString(), pigs_defect[i].toString())\n    var tab = { \n        event_id: event_id[i].toString(),\n        platenumber: platenumber[i].toString(),\n        place: place[i].toString(),\n        start_time: start_time[i].toString(),\n        end_time: end_time[i].toString(),\n        pigs_quantity: pigs_quantity[i].toString(),\n        pigs_defect: pigs_defect[i].toString()\n    }\n        // (event_id[i].toString(), platenumber[i].toString(), place[i].toString(), start_time[i].toString(), end_time[i].toString(), pigs_quantity[i].toString(), pigs_defect[i].toString())\n    // }\n    table1_data.push(tab)\n}\n\n// msg.payload = table1_data\n// return msg\nvar total_data = {}\n\nmsg.payload = [\n    table1_data, \n    total_data = {\n        correctDiffTime: correctDiffTime,\n        sumPigsQuantity: sumPigsQuantity,\n        sumPigsDefect: sumPigsDefect\n    },\n    data\n]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "ed8ec862ccce0a59",
                "072c7a1f0320f2f8",
                "d151e03104f5aa56"
            ]
        ]
    },
    {
        "id": "de6c3f8c4c9465f8",
        "type": "postgres",
        "z": "92226df4e340c706",
        "postgresdb": "184e08d38ff3c438",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "52a3e8cdc35b54f1",
                "69bb46803e2ac180"
            ]
        ]
    },
    {
        "id": "2dc0c76561366bc0",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 83",
        "func": "var query = new Date().toString()\n\n\n\n\n\n// var query = \"SELECT * FROM events ORDER BY event_id DESC OFFSET 1;\"\n// var query = \"SELECT event_id, platenumber, place, start_time, end_time, pigs_quantity, pigs_defect WHERE event_id NOT IN(SELECT * FROM(SELECT event_id FROM events ORDER BY event_id DESC LIMIT 1));\"\nmsg.payload = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cd448ce96f9f5935",
        "type": "change",
        "z": "92226df4e340c706",
        "name": "start_ts_input",
        "rules": [
            {
                "t": "set",
                "p": "start_ts_input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3b8574b55e09ca6c",
        "type": "change",
        "z": "92226df4e340c706",
        "name": "end_ts_input",
        "rules": [
            {
                "t": "set",
                "p": "end_ts_input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5469ddfc985bab47",
        "type": "inject",
        "z": "92226df4e340c706",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 60,
        "wires": [
            [
                "79d010a509c919f5"
            ]
        ]
    },
    {
        "id": "f55fb693d7c16adb",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "query",
        "func": "var start_datetime = new Date(flow.get(\"start_ts_input\"));\nvar end_datetime = new Date(flow.get(\"end_ts_input\"));\n\nfunction addHours(hours,  date = new Date()) {   \n  if (typeof hours !== 'number') { \n    throw new Error('Invalid \"hours\" argument') \n  } \n  if (!(date instanceof Date)) { \n    throw new Error('Invalid \"date\" argument') \n  } \n  date.setHours(date.getHours() + hours) \n  return date \n}\naddHours(-3, start_datetime);\naddHours(-3, end_datetime);\n// msg.payload = start_datetime;\n// return msg;\n// function normalDate(date){\n//     const formattedDate = date.toLocaleString('ru-RU', {\n//         year: 'numeric',\n//         month: '2-digit',\n//         day: '2-digit',\n//         hour: '2-digit',\n//         minute: '2-digit',\n//         second: '2-digit',\n//     });\n    \n//     return formattedDate.replace(',', '').replace(/\\./g, '/')\n// }\n\n// var start_query_time = \"'\" + normalDate(start_datetime) + \"'\"\n// var end_query_time = \"'\" + normalDate(end_datetime) + \"'\"\n\n\nvar start_query_time = \"'\" + start_datetime.toLocaleDateString(\"us-US\") + \" \" + start_datetime.toLocaleTimeString(\"us-US\") + \"'\"\nvar end_query_time = \"'\" + end_datetime.toLocaleDateString(\"us-US\") + \" \" + end_datetime.toLocaleTimeString(\"us-US\") + \"'\"\nvar query = \"SELECT event_id, platenumber, place, start_time, end_time, pigs_quantity, pigs_defect from events WHERE end_time IS NOT NULL AND start_time >= \" + start_query_time + \" AND start_time <= \" + end_query_time + \";\"\n// var query = \"SELECT date_trunc('second', dd)::timestamp ts, COALESCE(sum(speed_vtg_13mo0821.skmh), 0) skmh FROM generate_series(\" + start_query_time + \",\" + end_query_time + \", '1 second':: interval) dd LEFT JOIN speed_vtg_13mo0821 ON(speed_vtg_13mo0821.ts = date_trunc('second', dd)::timestamp) GROUP BY date_trunc('second', dd)::timestamp ORDER BY ts ASC\";\n// var query = \"SELECT ts, sum(skmh) skmh FROM (SELECT date_trunc('minute', main.ts)::timestamptz ts, CASE WHEN (date_trunc('minute', main.ts)::timestamptz = date_trunc('minute', net.time)::timestamptz) THEN COALESCE(sum(skmh)/60, 5) ELSE COALESCE(sum(skmh)/60, 0) END AS skmh FROM (SELECT date_trunc('second', dd)::timestamptz ts, speed_vtg_13mo0821.skmh skmh FROM generate_series( \" + start_query_time + \"::timestamptz, \" + end_query_time + \"::timestamptz, '1 second':: interval) dd LEFT JOIN speed_vtg_13mo0821 ON(speed_vtg_13mo0821.ts = date_trunc('second', dd)::timestamptz) ORDER BY ts ASC) main LEFT JOIN (SELECT DATE_TRUNC('second',time) AS time FROM netdata_13mo0821 GROUP BY time) net ON(main.ts = net.time) GROUP BY date_trunc('minute', main.ts)::timestamptz, date_trunc('minute', net.time)::timestamptz) GROUP BY ts\"\n// var query = \"SELECT ts, sum(skmh) skmh FROM (SELECT date_trunc('minute', main.ts)::timestamptz ts, CASE WHEN (date_trunc('minute', main.ts)::timestamptz = date_trunc('minute', net.time)::timestamptz) THEN COALESCE(sum(skmh)/60, 5) ELSE COALESCE(sum(skmh)/60, 0) END AS skmh FROM (SELECT date_trunc('second', dd)::timestamptz ts, short_speed_vtg_13mo0821.skmh skmh FROM generate_series( \" + start_query_time + \"::timestamptz, \" + end_query_time + \"::timestamptz, '1 second':: interval) dd LEFT JOIN (SELECT * FROM speed_vtg_13mo0821 WHERE ts BETWEEN \" + start_query_time + \"::timestamptz AND \" + end_query_time + \"::timestamptz) short_speed_vtg_13mo0821 ON (short_speed_vtg_13mo0821.ts = date_trunc('second', dd)::timestamptz) ORDER BY ts ASC) main LEFT JOIN (SELECT DATE_TRUNC('second',time) AS time FROM (SELECT * FROM netdata_13mo0821 WHERE time BETWEEN \" + start_query_time + \"::timestamptz AND \" + end_query_time + \"::timestamptz) GROUP BY time) net ON(main.ts = net.time) GROUP BY date_trunc('minute', main.ts)::timestamptz, date_trunc('minute', net.time)::timestamptz) GROUP BY ts\"// var coord_gga_13mo0821 = \"SELECT * FROM coord_gga_13mo0821 WHERE ts BETWEEN '\" + start_datetime + \"' AND '\" + end_datetime + \"'\" + \" ORDER BY ts ASC\";\nmsg.payload = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "de6c3f8c4c9465f8"
            ]
        ]
    },
    {
        "id": "bfca23496ef046be",
        "type": "inject",
        "z": "92226df4e340c706",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 800,
        "wires": [
            [
                "2dc0c76561366bc0"
            ]
        ]
    },
    {
        "id": "e08516445ada40fa",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 84",
        "func": "// var dateReportStart = flow.get('start_ts_input')\n// var dateReportEnd = flow.get('end_ts_input')\n\n// function addHours(hours, date = new Date()) {\n//     if (typeof hours !== 'number') {\n//         throw new Error('Invalid \"hours\" argument')\n//     }\n//     if (!(date instanceof Date)) {\n//         throw new Error('Invalid \"date\" argument')\n//     }\n//     date.setHours(date.getHours() + hours)\n//     return date\n// }\n\n// // msg.payload = new Date(dateReportEnd)\n// addHours(-3, new Date(dateReportStart));\n// addHours(-3, new Date(dateReportEnd));\n\n// function getCorrectDatetime(date = new Date()) {\n//     let d = date.getDate()\n//     let m = date.getMonth()\n//     let y = date.getFullYear()\n//     let h = date.getHours()\n//     let minutes = date.getMinutes()\n//     let corrDate = `${d}/${m}/${y} ${String(h).padStart(2, '0')}:${String(minutes).padStart(2, '0') }`\n//     return corrDate\n// } \n\n// msg.path = \"/data/static/Отчет \" + getCorrectDatetime(new Date(addHours(-3, new Date(dateReportStart)))) + \" - \" + getCorrectDatetime(new Date(addHours(-3, new Date(dateReportEnd)))) + \".csv\"\nmsg.path = \"/data/static/Отчет.csv\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "894581c1f90885f2"
            ]
        ]
    },
    {
        "id": "072c7a1f0320f2f8",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 85",
        "func": "\nvar arr = msg.payload[2]\n\nfunction addHours(hours, date = new Date()) {\n    if (typeof hours !== 'number') {\n        throw new Error('Invalid \"hours\" argument')\n    }\n    if (!(date instanceof Date)) {\n        throw new Error('Invalid \"date\" argument')\n    }\n    date.setHours(date.getHours() + hours)\n    return date\n}\n\nvar table = []\nfor (let i=0; i<arr.length;i++){\n    table.push({\n        'Номер разгрузки':arr[i]['event_id'],\n        'Фото госномера прицепа а/м': arr[i]['platenumber'],\n        'Место разгрузки': arr[i]['place'],\n        'Дата/время начала приемки': new Date(addHours(3, arr[i]['start_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16),\n        'Дата/время окончания приемки': new Date(addHours(3, arr[i]['end_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16),\n        'Количество принятых животных': arr[i]['pigs_quantity'],\n        'Cанитарный брак': arr[i]['pigs_defect']\n    })\n    if(i==arr.length-1) {\n        table.push({\n            'Номер разгрузки': 'Общее время разгрузки',\n            'Фото госномера прицепа а/м': '',\n            'Место разгрузки': msg.payload[1].correctDiffTime,\n            'Дата/время начала приемки': '',\n            'Дата/время окончания приемки': 'Общее количество',\n            'Количество принятых животных': msg.payload[1].sumPigsQuantity,\n            'Cанитарный брак': msg.payload[1].sumPigsDefect\n        })\n    }\n}\n\nmsg.payload = table\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "941127626ebde61b"
            ]
        ]
    },
    {
        "id": "941127626ebde61b",
        "type": "csv",
        "z": "92226df4e340c706",
        "name": "",
        "spec": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 750,
        "y": 260,
        "wires": [
            [
                "e08516445ada40fa"
            ]
        ]
    },
    {
        "id": "894581c1f90885f2",
        "type": "file",
        "z": "92226df4e340c706",
        "name": "",
        "filename": "path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 760,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a642720c39d8993d",
        "type": "ui_button",
        "z": "92226df4e340c706",
        "name": "",
        "group": "b5ccc75c0e8c4463",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Выгрузить в Excel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"url\":\"http://localhost:1855/static/Отчет.csv\"}",
        "payloadType": "json",
        "topic": "open_link",
        "topicType": "str",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "6508cd6b136ab437"
            ]
        ]
    },
    {
        "id": "e1d8664a2ff8a723",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "Выберите период отчета",
        "order": 2,
        "width": 4,
        "height": 1,
        "format": "<div style=\"font-size: 15px; text-align: center; padding-top: 15px\"> Выберите период отчета </div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 230,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6508cd6b136ab437",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "group": "b5ccc75c0e8c4463",
        "name": "",
        "order": 30,
        "width": 10,
        "height": 1,
        "format": "<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg && msg.payload && msg.payload.url) {\n                window.open(msg.payload.url, '_blank');\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d151e03104f5aa56",
        "type": "function",
        "z": "92226df4e340c706",
        "name": "function 86",
        "func": "var k = msg.payload[0]\nmsg.payload = k[1].event_id\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "be30497b1fa9bca4",
        "type": "ui_template",
        "z": "92226df4e340c706",
        "d": true,
        "group": "b5ccc75c0e8c4463",
        "name": "List",
        "order": 24,
        "width": 6,
        "height": 11,
        "format": "<style>\n    th,\n    td {\n        font-size: 14px;\n        heigth: 48px;\n        font-weight: normal;\n    }\n</style>\n\n<table id=\"table\" style=\"border: 1px solid black; border-collapse: collapse;\">\n\n    <tbody style=\"\">\n        <tr ng-repeat=\"row in msg.payload\" style=\"height:36px;\"> \n            <td>{{row}}</td>\n        </tr>\n    </tbody>\n\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "5a97f5f938015f64",
        "type": "ui_list",
        "z": "92226df4e340c706",
        "d": true,
        "group": "b5ccc75c0e8c4463",
        "name": "",
        "order": 25,
        "width": 6,
        "height": 2,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 930,
        "y": 740,
        "wires": []
    },
    {
        "id": "cd2c6ef3c97cadae",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "cam1",
        "order": 5,
        "width": 10,
        "height": 8,
        "format": "<!-- \n<div style=\"text-align:  center; width:95%; height:100%;\nborder: 10px groove lightblue;\">\n    <p style=\"margin-top:114px; margin-bottom:114px;\">IP CAMERA Не подключена</p> -->\n<!-- <p style=\"margin-top:114px; margin-bottom:114px;\">IP CAMERA Не подключена</p> -->\n</div> <!-- border: 10px groove lightblue; -->\n<iframe style=\"text-align:  center; width:95%; height:100%;\" src=\"http://localhost:8889/mystream\" scrolling=\"no\"></iframe>\n<!-- <head>\n    <meta charset=\"utf-8\">\n    <title>Unreal Media Server WebRTC player</title>\n\n    <script src=\"/webrtcadapter.js\"></script>\n    <script src=\"/unrealwebrtcplayer.js\"></script>\n\n    <script type=\"text/javascript\">\n        var webrtcPlayer = null;\n    </script>\n</head> -->\n<!-- \n<body>\n    <!-- <div id=\"container\" align=\"center\">\n    <video style=\"background: black url(loader.gif) center no-repeat;\" id=\"remoteVideo\" class=\"ttx_ws1_1\" width=\"426\"\n      height=\"255\" autoplay muted controls></video>\n  </div> -->\n    <!-- <iframe id='fp_embed_player' src='http://localhost:8089/publish/mf' marginwidth='0' marginheight='0'\n        frameborder='0' width='100%' height='100%' scrolling='no' allowfullscreen='allowfullscreen'></iframe> -->\n\n     <!-- <script type=\"text/javascript\">\n    webrtcPlayer = new UnrealWebRTCPlayer(\"mf\", \"publish\", \"\", \"localhost\", \"8089\", false, true, \"tcp\");\n       webrtcPlayer.Play();\n  </script>\n</body> --> \n\n\n<!-- <head>\n    <meta charset=\"utf-8\">\n    <title>Unreal Media Server WebRTC player</title>\n  \n    <script src=\"http://www.umediaserver.net/umediaserver/webrtcadapter.js\"></script>\n    <script src=\"http://www.umediaserver.net/umediaserver/unrealwebrtcplayer.js\"></script>\n    \n    \n    <!-- <script type=\"text/javascript\">\n      var webrtcPlayer = null;\n    </script> -->\n<!--</head> -->\n<!-- \n<body>\n    <div id=\"container\" align=\"center\">\n        <video style=\"background-color:black\" id=\"remoteVideo\" width=\"426\" height=\"255\" autoplay playsinline controls muted></video>\n\n        <script type=\"text/javascript\">\n            webrtcPlayer = new UnrealWebRTCPlayer(\"remoteVideo\", \"mf\", \"\", \"localhost\", \"8089\", true, true, \"tcp\");\n            //webrtcPlayer = new UnrealWebRTCPlayer(\"remoteVideo\", \"livedemocam1\", \"\", \"unrealstreaming.net\", \"444\", true, true, \"tcp\");\n            //webrtcPlayer = new UnrealWebRTCPlayer(\"remoteVideo\", \".docs\", \"\", \"192.168.6.10\", \"5119\", true, true, \"tcp\");\n            webrtcPlayer.Play();\n        </script>\n\n    </div>\n</body> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 290,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ad0a30f3f2d43617",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "spacer2",
        "order": 8,
        "width": 1,
        "height": 19,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "09367071c5c96d9f",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "d": true,
        "group": "b609199da19ad8a0",
        "name": "CenterLine",
        "order": 31,
        "width": 2,
        "height": 22,
        "format": "<table id=\"table1\" height=\"105%\" style=\"border-left: 10px solid lightblue;border-right: 10px solid lightblue;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \">\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "884063dac638f4d9",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "spacer4",
        "order": 4,
        "width": 1,
        "height": 18,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0b872060d547bebb",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "cam2",
        "order": 7,
        "width": 10,
        "height": 8,
        "format": "<!-- \n<div style=\"text-align:  center; width:95%; height:100%;\nborder: 10px groove lightblue;\">\n    <p style=\"margin-top:114px; margin-bottom:114px;\">IP CAMERA Не подключена</p> -->\n<!-- <p style=\"margin-top:114px; margin-bottom:114px;\">IP CAMERA Не подключена</p> -->\n</div> <!-- border: 10px groove lightblue; -->\n<iframe style=\"text-align:  center; width:95%; height:100%;\" src=\"http://localhost:8889/cam\" scrolling=\"no\"></iframe>\n<!-- <head>\n    <meta charset=\"utf-8\">\n    <title>Unreal Media Server WebRTC player</title>\n\n    <script src=\"/webrtcadapter.js\"></script>\n    <script src=\"/unrealwebrtcplayer.js\"></script>\n\n    <script type=\"text/javascript\">\n        var webrtcPlayer = null;\n    </script>\n</head> -->\n<!-- \n<body>\n    <!-- <div id=\"container\" align=\"center\">\n    <video style=\"background: black url(loader.gif) center no-repeat;\" id=\"remoteVideo\" class=\"ttx_ws1_1\" width=\"426\"\n      height=\"255\" autoplay muted controls></video>\n  </div> -->\n<!-- <iframe id='fp_embed_player' src='http://localhost:8089/publish/mf' marginwidth='0' marginheight='0'\n        frameborder='0' width='100%' height='100%' scrolling='no' allowfullscreen='allowfullscreen'></iframe> -->\n\n<!-- <script type=\"text/javascript\">\n    webrtcPlayer = new UnrealWebRTCPlayer(\"mf\", \"publish\", \"\", \"localhost\", \"8089\", false, true, \"tcp\");\n       webrtcPlayer.Play();\n  </script>\n</body> -->\n\n\n<!-- <head>\n    <meta charset=\"utf-8\">\n    <title>Unreal Media Server WebRTC player</title>\n  \n    <script src=\"http://www.umediaserver.net/umediaserver/webrtcadapter.js\"></script>\n    <script src=\"http://www.umediaserver.net/umediaserver/unrealwebrtcplayer.js\"></script>\n    \n    \n    <!-- <script type=\"text/javascript\">\n      var webrtcPlayer = null;\n    </script> -->\n<!--</head> -->\n<!-- \n<body>\n    <div id=\"container\" align=\"center\">\n        <video style=\"background-color:black\" id=\"remoteVideo\" width=\"426\" height=\"255\" autoplay playsinline controls muted></video>\n\n        <script type=\"text/javascript\">\n            webrtcPlayer = new UnrealWebRTCPlayer(\"remoteVideo\", \"mf\", \"\", \"localhost\", \"8089\", true, true, \"tcp\");\n            //webrtcPlayer = new UnrealWebRTCPlayer(\"remoteVideo\", \"livedemocam1\", \"\", \"unrealstreaming.net\", \"444\", true, true, \"tcp\");\n            //webrtcPlayer = new UnrealWebRTCPlayer(\"remoteVideo\", \".docs\", \"\", \"192.168.6.10\", \"5119\", true, true, \"tcp\");\n            webrtcPlayer.Play();\n        </script>\n\n    </div>\n</body> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c0c274c014643a",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "d": true,
        "group": "b609199da19ad8a0",
        "name": "HorizontalLine",
        "order": 78,
        "width": 26,
        "height": 1,
        "format": "<table id=\"table1\" width=\"100%\" height=\"50%\"style=\"border-top:38px solid CadetBlue;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \">\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e7eebefc06cede2f",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "d": true,
        "group": "b609199da19ad8a0",
        "name": "CenterLine2",
        "order": 54,
        "width": 2,
        "height": 10,
        "format": "<table id=\"table1\" height=\"105%\" style=\"border-left: 10px solid CadetBlue;border-right: 10px solid CadetBlue;\">\n    <tbody>\n        <tr>\n            <th style=\"font-size: 23px; text-align: left;  \">\n            </th>\n        </tr>\n    </tbody>\n</table>\n<!-- <div style=\"\"> Подсчет количества животных при приемке на ООО \"МПК \"Атяшевский\" </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a560087702331e34",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "Таблица подсчета в реальном времени",
        "order": 16,
        "width": 24,
        "height": 1,
        "format": "<div style=\" font-size: 25px; text-align: center; padding-top: 5px; \"> Таблица подсчета в реальном времени </div>\n<!-- font-family:'Courier New', monospace; -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5ae9e9840acfee70",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "d": true,
        "group": "b609199da19ad8a0",
        "name": "Предыдущие записи",
        "order": 18,
        "width": 24,
        "height": 1,
        "format": "<div style=\" font-size: 25px; text-align: center; padding-top: 5px; \"> Предыдущие записи </div>\n<!-- font-family:'Courier New', monospace; -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6ba4140af142dc62",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "table1",
        "order": 17,
        "width": 24,
        "height": 3,
        "format": "<style>\n    th,\n    td {\n        font-size: 20px;\n        heigth: 48px;\n        font-weight: normal;\n    }\n</style>\n<!-- background-color: #d3d3d3; height:30px; --> <!-- font-family:'Courier New', monospace; -->\n<table id=\"table\" style=\" border: 1px solid gray; border-collapse: collapse;\">\n    <tr style=\"border: 3px solid gray; border-collapse: collapse; \">\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            №</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Номер машины</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Место разгрузки</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Начало разгрузки</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \">\n            Конец разгрузки</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse;  height:30px; width: 250px;\">\n            Количество принятых животных</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Санитарный брак</th>\n    </tr>\n\n    <tbody >\n        <tr ng-repeat=\"row in msg.payload\" style=\"height:48px; border: 3px solid gray; border-collapse: collapse;\">\n            <td ng-repeat=\"item in row\" style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px;\">\n                {{item}}</td>\n        </tr>\n    </tbody>\n\n</table>\n\n\n\n\n\n\n\n\n\n\n    <!-- <tr style=\"height:48px; border: 3px solid gray; border-collapse: collapse; \">\n            <td style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px; \">-</td>\n            <td style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px; \">-</td>\n            <td style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px; \">-</td>\n        </tr> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "400460a3f58075db",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "d": true,
        "group": "b609199da19ad8a0",
        "name": "table2",
        "order": 19,
        "width": 24,
        "height": 8,
        "format": "\n<!-- background-color: #d3d3d3; height:30px; --> <!-- font-family:'Courier New', monospace; -->\n<table id=\"table2\" style=\" border: 1px solid gray; border-collapse: collapse;\">\n    <tr style=\"border: 3px solid gray; border-collapse: collapse; \">\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            №</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Номер машины</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Место разгрузки</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Начало разгрузки</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \">\n            Конец разгрузки</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse;  height:30px; width: 250px;\">\n            Количество принятых животных</th>\n        <th style=\" border: 3px solid gray; border-collapse: collapse; height:30px; \"> \n            Санитарный брак</th>\n    </tr>\n\n    <tbody >\n        <tr ng-repeat=\"row in msg.payload\" style=\"height:48px; border: 3px solid gray; border-collapse: collapse;\">\n            <td ng-repeat=\"item in row\" style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px;\">\n                {{item}}</td>\n        </tr>\n    </tbody>\n\n</table>\n\n\n\n\n\n\n\n\n\n\n    <!-- <tr style=\"height:48px; border: 3px solid gray; border-collapse: collapse; \">\n            <td style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px; \">-</td>\n            <td style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px; \">-</td>\n            <td style=\"border: 3px solid gray; border-collapse: collapse; padding-left: 10px; \">-</td>\n        </tr> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a971a95634773f36",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "Подсчет количества",
        "order": 1,
        "width": 12,
        "height": 1,
        "format": "<div style=\" font-size: 30px; text-align: center; padding-top: 5px; \"> Подсчет количества принятых животных</div>\n<!-- font-family:'Courier New', monospace; -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "9f7bc321ed0b76dd",
        "type": "ui_template",
        "z": "cebe0263a986f9c3",
        "group": "b609199da19ad8a0",
        "name": "Контроль разгрузки",
        "order": 3,
        "width": 12,
        "height": 1,
        "format": "<div style=\" font-size: 30px; text-align: center; padding-top: 5px; \"> Контроль разгрузки </div>\n<!-- font-family:'Courier New', monospace; -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c2651d6f85630de7",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 74",
        "func": "var query =\"SELECT * FROM events ORDER BY event_id DESC OFFSET 1;\"\n// var query = \"SELECT event_id, platenumber, place, start_time, end_time, pigs_quantity, pigs_defect WHERE event_id NOT IN(SELECT * FROM(SELECT event_id FROM events ORDER BY event_id DESC LIMIT 1));\"\nmsg.payload = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 740,
        "wires": [
            [
                "6775977f63328d48"
            ]
        ]
    },
    {
        "id": "68ba83dee933f0b5",
        "type": "ui_button",
        "z": "cebe0263a986f9c3",
        "d": true,
        "name": "",
        "group": "b609199da19ad8a0",
        "order": 26,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Сформировать",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 680,
        "wires": [
            [
                "60c2d2288ec6c75c"
            ]
        ]
    },
    {
        "id": "6846d602d411c6fc",
        "type": "postgres",
        "z": "cebe0263a986f9c3",
        "postgresdb": "184e08d38ff3c438",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "f75c74d2a5c10bdc"
            ]
        ]
    },
    {
        "id": "60c2d2288ec6c75c",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 75",
        "func": "// var query =\"SELECT * FROM events ORDER BY event_id DESC LIMIT 1;\"\nvar query = \"SELECT event_id, platenumber, place, start_time, end_time, pigs_quantity, pigs_defect FROM events ORDER BY event_id DESC LIMIT 1;\"\nmsg.payload = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 680,
        "wires": [
            [
                "6846d602d411c6fc"
            ]
        ]
    },
    {
        "id": "a2bfd0a692f5ed74",
        "type": "debug",
        "z": "cebe0263a986f9c3",
        "name": "debug 393",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "f75c74d2a5c10bdc",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 76",
        "func": "var data = msg.payload\n\nvar event_id = [];\nvar start_time = [];\nvar end_time = [];\nvar pigs_quantity = [];\nvar pigs_defect = [];\nvar platenumber = [];\nvar place = [];\n\nfunction addHours(hours, date = new Date()) {\n    if (typeof hours !== 'number') {\n        throw new Error('Invalid \"hours\" argument')\n    }\n    if (!(date instanceof Date)) {\n        throw new Error('Invalid \"date\" argument')\n    }\n    date.setHours(date.getHours() + hours)\n    return date\n}\n\nvar lgth_data = data.length\nfor(var i = 0; i < lgth_data;i++){\n    \n    if (data[i]['end_time'] == null){ \n        event_id.push(data[i]['event_id']);\n        start_time.push(new Date(addHours(3, data[i]['start_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));\n        end_time.push(\"Идет подсчет...\")\n        pigs_quantity.push(data[i]['pigs_quantity']);\n        pigs_defect.push(data[i]['pigs_defect']);\n        platenumber.push(data[i]['platenumber']);\n        place.push(data[i]['place']);\n    }\n    else { \n        event_id.push(data[i]['event_id']);\n        start_time.push(new Date(addHours(3, data[i]['start_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));\n        end_time.push(new Date(addHours(3, data[i]['end_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));}\n        pigs_quantity.push(data[i]['pigs_quantity']);\n        pigs_defect.push(data[i]['pigs_defect']);\n        platenumber.push(data[i]['platenumber']);\n        place.push(data[i]['place']);   \n}\n\nvar table1_data = []\nfor(var i = 0; i < lgth_data;i++){\n    var tab = []\n    for (var j = 0; j < 1; j++) {\n        tab.push(event_id[i].toString(), platenumber[i].toString(), place[i].toString(), start_time[i].toString(), end_time[i].toString(), pigs_quantity[i].toString(), pigs_defect[i].toString())\n    }\n    table1_data.push(tab)\n}\n\n\n// var table2_data = []\n// for(var i = 0; i < lgth_data;i++){\n//     var tab = []\n//     for (var j = 0; j < 1; j++) {\n//         tab.push(start_time[i].toString(), end_time[i].toString(), platenumber[i].toString())\n//     }\n//     table2_data.push(tab)\n// }\n\n// var start_time = data.start_time\n// var end_time = data.end_time\n// var pigs_quantity = data.pigs_quantity\n\n\nmsg.payload = table1_data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "6ba4140af142dc62"
            ]
        ]
    },
    {
        "id": "17254e8c91efc6d6",
        "type": "ui_button",
        "z": "cebe0263a986f9c3",
        "d": true,
        "name": "",
        "group": "b609199da19ad8a0",
        "order": 29,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Сформировать2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "c2651d6f85630de7"
            ]
        ]
    },
    {
        "id": "48270a06d1c185ab",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 77",
        "func": "var arr = msg.payload[0]\n\nmsg.payload = arr\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "afe89160ec75fb0d",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 78",
        "func": "var arr = msg.payload[1]\n\nmsg.payload = arr\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e1b71e88ae89ce2b",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 79",
        "func": "var arr =[\n    [\"2025-01-21 02:53\", \"2025-01-21 02:55\", \"a123ks13\"], \n    [\"2025-01-21 02:56\", \"2025-01-21 02:57\", \"a123nr13\"], \n    [\"2025-01-21 02:59\", \"2025-01-21 03:00\", \"a123bc13\"]\n]\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "fcab92f3ca3d0281",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 80",
        "func": "function getRandomSeries(len){\n    var alphabet = \"ABEKMHOPCTYX\";\n    // var alphabet = \"авекмнорстух\"\n    var series = \"\";\n    while (series.length < len) {\n        series += alphabet[Math.floor(Math.random() * alphabet.length)];\n    }\n    return series\n}\nvar random_platenumber = \"\" + getRandomSeries(1) + Math.floor((Math.random() * 999) + 1).toString().padStart(3, '0')  + getRandomSeries(2) + \"13\"\nvar random_place = \"Пандус \" + Math.floor((Math.random() * 2) + 1)\nvar d = new Date()\nd.setHours(d.getHours() + Math.floor((Math.random() * 23) + 1))\nd.setMinutes(d.getMinutes() + Math.floor((Math.random() * 59) + 1))\nvar startTimeStr = d.toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 19);\nd.setMinutes(d.getMinutes() + Math.floor((Math.random() * 40) + 10))\nvar endTimeStr = d.toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 19);;\n// var endTimeStr = null;\nvar pigs_quantity = Math.floor((Math.random() * 100) + 1)\nvar pigs_defect = Math.floor((Math.random() * 10) + 1)\n// msg.payload = [startTimeStr, endTimeStr]\n// return msg;\nvar k = \"INSERT INTO events (platenumber, place, start_time, end_time, pigs_quantity, pigs_defect) VALUES ('\" \n    + random_platenumber + \"', '\" \n    + random_place + \"', '\"\n    // + startTimeStr + \"', \" \n    // + endTimeStr + \", '\" \n    + startTimeStr + \"', '\"\n    + endTimeStr + \"', '\" \n    + pigs_quantity + \"', '\"\n    + pigs_defect + \"')\";\n\nmsg.payload = k\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 880,
        "wires": [
            [
                "8b188dc8e00b5fbd"
            ]
        ]
    },
    {
        "id": "8b188dc8e00b5fbd",
        "type": "postgres",
        "z": "cebe0263a986f9c3",
        "postgresdb": "184e08d38ff3c438",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 480,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "78c7c0ec4c05b764",
        "type": "inject",
        "z": "cebe0263a986f9c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "fcab92f3ca3d0281"
            ]
        ]
    },
    {
        "id": "6775977f63328d48",
        "type": "postgres",
        "z": "cebe0263a986f9c3",
        "postgresdb": "184e08d38ff3c438",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": true,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "469a7b856cc0dad5",
                "a2bfd0a692f5ed74"
            ]
        ]
    },
    {
        "id": "469a7b856cc0dad5",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 81",
        "func": "var data = msg.payload\n\nvar event_id = [];\nvar start_time = [];\nvar end_time = [];\nvar pigs_quantity = [];\nvar pigs_defect = [];\nvar platenumber = [];\nvar place = [];\n\nfunction addHours(hours, date = new Date()) {\n    if (typeof hours !== 'number') {\n        throw new Error('Invalid \"hours\" argument')\n    }\n    if (!(date instanceof Date)) {\n        throw new Error('Invalid \"date\" argument')\n    }\n    date.setHours(date.getHours() + hours)\n    return date\n}\n\nvar lgth_data = data.length\nfor(var i = 0; i < lgth_data;i++){\n    event_id.push(data[i]['event_id']);\n    start_time.push(new Date(addHours(3, data[i]['start_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));\n    end_time.push(new Date(addHours(3, data[i]['end_time'])).toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 16));\n    pigs_quantity.push(data[i]['pigs_quantity']);\n    pigs_defect.push(data[i]['pigs_defect']);\n    platenumber.push(data[i]['platenumber']);\n    place.push(data[i]['place']);   \n}\n\nvar table1_data = []\nfor(var i = 0; i < lgth_data;i++){\n    var tab = []\n    for (var j = 0; j < 1; j++) {\n        tab.push(event_id[i].toString(), platenumber[i].toString(), place[i].toString(), start_time[i].toString(), end_time[i].toString(), pigs_quantity[i].toString(), pigs_defect[i].toString())\n    }\n    table1_data.push(tab)\n}\n\n\nvar table2_data = []\nfor(var i = 0; i < lgth_data;i++){\n    var tab = []\n    for (var j = 0; j < 1; j++) {\n        tab.push(start_time[i].toString(), end_time[i].toString(), platenumber[i].toString())\n    }\n    table2_data.push(tab)\n}\n\n// var start_time = data.start_time\n// var end_time = data.end_time\n// var pigs_quantity = data.pigs_quantity\n\n\nmsg.payload = table1_data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 740,
        "wires": [
            [
                "400460a3f58075db"
            ]
        ]
    },
    {
        "id": "d78bcdef6b919625",
        "type": "inject",
        "z": "cebe0263a986f9c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "60c2d2288ec6c75c"
            ]
        ]
    },
    {
        "id": "dd27f90a7a45007c",
        "type": "function",
        "z": "cebe0263a986f9c3",
        "name": "function 87",
        "func": "function getRandomSeries(len){\n    var alphabet = \"ABEKMHOPCTYX\";\n    // var alphabet = \"авекмнорстух\"\n    var series = \"\";\n    while (series.length < len) {\n        series += alphabet[Math.floor(Math.random() * alphabet.length)];\n    }\n    return series\n}\nvar random_platenumber = \"\" + getRandomSeries(1) + Math.floor((Math.random() * 999) + 1).toString().padStart(3, '0')  + getRandomSeries(2) + \"13\"\nvar random_place = \"Пандус \" + Math.floor((Math.random() * 2) + 1)\nvar d = new Date()\nd.setHours(d.getHours() + Math.floor((Math.random() * 23) + 1))\nd.setMinutes(d.getMinutes() + Math.floor((Math.random() * 59) + 1))\nvar startTimeStr = d.toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 19);\nd.setMinutes(d.getMinutes() + Math.floor((Math.random() * 40) + 10))\n// var endTimeStr = d.toISOString().replace('T', ' ').replace(/\\..*$/, '').slice(0, 19);;\nvar endTimeStr = null;\nvar pigs_quantity = Math.floor((Math.random() * 100) + 1)\nvar pigs_defect = Math.floor((Math.random() * 10) + 1)\n// msg.payload = [startTimeStr, endTimeStr]\n// return msg;\nvar k = \"INSERT INTO events (platenumber, place, start_time, end_time, pigs_quantity, pigs_defect) VALUES ('\" \n    + random_platenumber + \"', '\" \n    + random_place + \"', '\"\n    + startTimeStr + \"', \" \n    + endTimeStr + \", '\" \n    + pigs_quantity + \"', '\"\n    + pigs_defect + \"')\";\n\nmsg.payload = k\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 960,
        "wires": [
            [
                "4dbcf73a55092ff5"
            ]
        ]
    },
    {
        "id": "4dbcf73a55092ff5",
        "type": "postgres",
        "z": "cebe0263a986f9c3",
        "postgresdb": "184e08d38ff3c438",
        "name": "",
        "output": true,
        "perrow": false,
        "rowspermsg": "1",
        "return_on_error": false,
        "limit_queries": "0",
        "limit_by": "payload",
        "limit_value": "1",
        "limit_drop_intermediate": false,
        "limit_drop_if_in_queue": false,
        "outputs": true,
        "x": 480,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "3e53f30e53e4ef69",
        "type": "inject",
        "z": "cebe0263a986f9c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "dd27f90a7a45007c"
            ]
        ]
    },
    {
        "id": "cf1e39c48b37a32d",
        "type": "comment",
        "z": "cebe0263a986f9c3",
        "name": "Генерация данных в БД без end_time  NULL",
        "info": "Генерация данных в БД без end_time  NULL",
        "x": 230,
        "y": 840,
        "wires": []
    },
    {
        "id": "036f92c7e17ba0f5",
        "type": "comment",
        "z": "cebe0263a986f9c3",
        "name": "Генерация данных в БД c end_time NULL",
        "info": "Генерация данных в БД c end_time NULL",
        "x": 220,
        "y": 920,
        "wires": []
    }
]